# Phase 4 Project Notebook
- Author: Jonathan Holt
- Data Science Flex

## Business Problem
- What are the top 5 best zip codes for us to invest in?

## Questions to Answer

## What Models & Metrics I plan on using

## Helper Functions
- Functions provided by Flatiron

In [1]:
def get_datetimes(df):
    """
    Takes a dataframe:
    returns only those column names that can be converted into datetime objects 
    as datetime objects.
    NOTE number of returned columns may not match total number of columns in passed dataframe
    """
    
    return pd.to_datetime(df.columns.values[1:], format='%Y-%m')

In [2]:
def melt_data(df):
    """
    Takes the zillow_data dataset in wide form or a subset of the zillow_dataset.  
    Returns a long-form datetime dataframe 
    with the datetime column names as the index and the values as the 'values' column.
    
    If more than one row is passed in the wide-form dataset, the values column
    will be the mean of the values from the datetime columns in all of the rows.
    """
    
    melted = pd.melt(df, id_vars=['RegionName', 'RegionID', 'SizeRank', 'City', 'State', 'Metro', 'CountyName'], var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted.groupby('time').aggregate({'value':'mean'})

## Loading Data

In [3]:
import pandas as pd

pd.set_option('display.max_rows', 1000) #change the amount of rows displayed

In [4]:
df = pd.read_csv("zillow_data.csv")

In [5]:
df.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500

In [6]:
df.describe()

,RegionID,RegionName,SizeRank,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
count,14723.000000,14723.000000,14723.000000,1.368400e+04,1.368400e+04,1.368400e+04,1.368400e+04,1.368400e+04,1.368400e+04,1.368400e+04,...,1.472300e+04,1.472300e+04,1.472300e+04,1.472300e+04,1.472300e+04,1.472300e+04,1.472300e+04,1.472300e+04,1.472300e+04,1.472300e+04
mean,81075.010052,48222.348706,7362.000000,1.182991e+05,1.184190e+05,1.185374e+05,1.186531e+05,1.187803e+05,1.189275e+05,1.191205e+05,...,2.733354e+05,2.748658e+05,2.764646e+05,2.780332e+05,2.795209e+05,2.810953e+05,2.826571e+05,2.843687e+05,2.865114e+05,2.880399e+05
std,31934.118525,29359.325439,4250.308342,8.600251e+04,8.615567e+04,8.630923e+04,8.646795e+04,8.665094e+04,8.687208e+04,8.715185e+04,...,3.603984e+05,3.614678e+05,3.627563e+05,3.644610e+05,3.656003e+05,3.670454e+05,3.695727e+05,3.717739e+05,3.724612e+05,3.720544e+05
min,58196.000000,1001.000000,1.000000,1.130000e+04,1.150000e+04,1.160000e+04,1.180000e+04,1.180000e+04,1.200000e+04,1.210000e+04,...,1.440000e+04,1.450000e+04,1.470000e+04,1.480000e+04,1.450000e+04,1.430000e+04,1.410000e+04,1.390000e+04,1.380000e+04,1.380000e+04
25%,67174.500000,22101.500000,3681.500000,6.880000e+04,6.890000e+04,6.910000e+04,6.920000e+04,6.937500e+04,6.950000e+04,6.960000e+04,...,1.269000e+05,1.275000e+05,1.282000e+05,1.287000e+05,1.292500e+05,1.299000e+05,1.306000e+05,1.310500e+05,1.319500e+05,1.324000e+05
50%,78007.000000,46106.000000,7362.000000,9.950000e+04,9.950000e+04,9.970000e+04,9.970000e+04,9.980000e+04,9.990000e+04,9.995000e+04,...,1.884000e+05,1.896000e+05,1.905000e+05,1.914000e+05,1.925000e+05,1.934000e+05,1.941000e+05,1.950000e+05,1.967000e+05,1.981000e+05
75%,90920.500000,75205.500000,11042.500000,1.432000e+05,1.433000e+05,1.432250e+05,1.432250e+05,1.435000e+05,1.437000e+05,1.439000e+05,...,3.050000e+05,3.066500e+05,3.085000e+05,3.098000e+05,3.117000e+05,3.134000e+05,3.151000e+05,3.168500e+05,3.188500e+05,3.211000e+05
max,753844.000000,99901.000000,14723.000000,3.676700e+06,3.704200e+06,3.729600e+06,3.754600e+06,3.781800e+06,3.813500e+06,3.849600e+06,...,1.888990e+07,1.870350e+07,1.860530e+07,1.856940e+07,1.842880e+07,1.830710e+07,1.836590e+07,1.853040e+07,1.833770e+07,1.789490e+07

In [7]:
#melt_data(df)

## Checking for Null Values

In [8]:
df.isnull().sum().head(10)

RegionID         0
RegionName       0
City             0
State            0
Metro         1043
CountyName       0
SizeRank         0
1996-04       1039
1996-05       1039
1996-06       1039
dtype: int64

### Analysis

There are many Null Values. 
- For categorical data, 7% of Metro are null (1043 of 14,723).
- Dates from 1996 - mid 2003, also have 7% null values.
- Then it starts to get better. 6% null and decreasing.

What is my decision on null values?
- keep?
- delete?
- change (mean)?

In [9]:
df.reset_index()
df.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500

## Analysis of Categories

In [10]:
#cat_df = df.iloc[:,0:7]
#cat_df.head()

In [11]:
#cat_df.info()

In [12]:
#cat_df['RegionName'] = cat_df['RegionName'].astype('object')
#cat_df.info()

In [13]:
df.nunique()

RegionID      14723
RegionName    14723
City           7554
State            51
Metro           701
CountyName     1212
SizeRank      14723
1996-04        2719
1996-05        2721
1996-06        2744
1996-07        2761
1996-08        2701
1996-09        2740
1996-10        2733
1996-11        2741
1996-12        2735
1997-01        2736
1997-02        2740
1997-03        2758
1997-04        2751
1997-05        2770
1997-06        2772
1997-07        2799
1997-08        2786
1997-09        2759
1997-10        2794
1997-11        2772
1997-12        2795
1998-01        2823
1998-02        2830
1998-03        2834
1998-04        2860
1998-05        2862
1998-06        2857
1998-07        2887
1998-08        2909
1998-09        2912
1998-10        2909
1998-11        2903
1998-12        2945
1999-01        2954
1999-02        2969
1999-03        2993
1999-04        3010
1999-05        3053
1999-06        3047
1999-07        3067
1999-08        3062
1999-09        3082
1999-10        3100
1999-11        3161
1999-12        3153
2000-01        3171
2000-02        3191
2000-03        3235
2000-04        3250
2000-05        3269
2000-06        3288
2000-07        3326
2000-08        3352
2000-09        3355
2000-10        3371
2000-11        3393
2000-12        3434
2001-01        3461
2001-02        3486
2001-03        3487
2001-04        3510
2001-05        3529
2001-06        3527
2001-07        3552
2001-08        3574
2001-09        3625
2001-10        3625
2001-11        3640
2001-12        3703
2002-01        3666
2002-02        3677
2002-03        3737
2002-04        3759
2002-05        3780
2002-06        3803
2002-07        3826
2002-08        3807
2002-09        3881
2002-10        3900
2002-11        3916
2002-12        3924
2003-01        3980
2003-02        4016
2003-03        4029
2003-04        4046
2003-05        4062
2003-06        4093
2003-07        4130
2003-08        4148
2003-09        4179
2003-10        4202
2003-11        4243
2003-12        4263
2004-01        4288
2004-02        4357
2004-03        4413
2004-04        4409
2004-05        4460
2004-06        4477
2004-07        4509
2004-08        4578
2004-09        4603
2004-10        4656
2004-11        4717
2004-12        4734
2005-01        4736
2005-02        4817
2005-03        4841
2005-04        4905
2005-05        4913
2005-06        4943
2005-07        4968
2005-08        5016
2005-09        5089
2005-10        5071
2005-11        5100
2005-12        5108
2006-01        5160
2006-02        5173
2006-03        5191
2006-04        5192
2006-05        5185
2006-06        5239
2006-07        5198
2006-08        5194
2006-09        5198
2006-10        5162
2006-11        5185
2006-12        5159
2007-01        5142
2007-02        5171
2007-03        5173
2007-04        5160
2007-05        5127
2007-06        5123
2007-07        5117
2007-08        5070
2007-09        5049
2007-10        5029
2007-11        5009
2007-12        5017
2008-01        4943
2008-02        4920
2008-03        4905
2008-04        4845
2008-05        4809
2008-06        4778
2008-07        4755
2008-08        4721
2008-09        4711
2008-10        4673
2008-11        4608
2008-12        4578
2009-01        4544
2009-02        4531
2009-03        4537
2009-04        4492
2009-05        4471
2009-06        4437
2009-07        4428
2009-08        4424
2009-09        4387
2009-10        4389
2009-11        4391
2009-12        4393
2010-01        4392
2010-02        4382
2010-03        4421
2010-04        4415
2010-05        4345
2010-06        4388
2010-07        4398
2010-08        4360
2010-09        4339
2010-10        4343
2010-11        4328
2010-12        4307
2011-01        4295
2011-02        4292
2011-03        4273
2011-04        4267
2011-05        4239
2011-06        4255
2011-07        4248
2011-08        4231
2011-09        4217
2011-10        4225
2011-11        4221
2011-12        4212
2012-01        4209
2012-02        4211
2012-03        4175
2012-04        4211
2012-05        4227
2012-06        4216
2012-07        4261
2012-08        4251
2012-09        4265
2012-10        4305
2012-11        4327
2012-12        4296
2013-01        4334
2013-02        4396
2013-03        4374
2013-04        4394
2013-05        4426
2013-06        4425
2013-07        4473
2013-08        4499
2013-09        4502
2013-10        4553
2013-11        4530
2013-12        4562
2014-01        4579
2014-02        4602
2014-03        4617
2014-04        4608
2014-05        4618
2014-06        4673
2014-07        4645
2014-08        4642
2014-09        4667
2014-10        4675
2014-11        4693
2014-12        4702
2015-01        4700
2015-02        4735
2015-03        4740
2015-04        4766
2015-05        4781
2015-06        4778
2015-07        4821
2015-08        4813
2015-09        4846
2015-10        4862
2015-11        4861
2015-12        4879
2016-01        4888
2016-02        4900
2016-03        4913
2016-04        4964
2016-05        4981
2016-06        4985
2016-07        5015
2016-08        5007
2016-09        5031
2016-10        5040
2016-11        5052
2016-12        5079
2017-01        5075
2017-02        5093
2017-03        5135
2017-04        5099
2017-05        5175
2017-06        5202
2017-07        5138
2017-08        5183
2017-09        5202
2017-10        5221
2017-11        5266
2017-12        5248
2018-01        5276
2018-02        5303
2018-03        5332
2018-04        5310
dtype: int64

In [14]:
#print("RegionID unique values:", cat_df['RegionID'].nunique())
#print("RegionName unique values:", cat_df['RegionName'].nunique())
#print("City unique values:", cat_df['City'].nunique())
#print("State unique values:", cat_df['State'].nunique())
#print("Metro unique values:", cat_df['Metro'].nunique())
#print("CountyName unique values:", cat_df['CountyName'].nunique())
#print("SizeRank unique values:", cat_df['SizeRank'].nunique())

In [15]:
#cat_df.sort_values(by = ['RegionName'], ascending = True).head()
df.sort_values(by = ['RegionName'], ascending = True).head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
5850,58196,1001,Agawam,MA,Springfield,Hampden,5851,113100.0,112800.0,112600.0,...,213900,215700,218200,220100,221100,221700,221700,221700,222700,223600
4199,58197,1002,Amherst,MA,Springfield,Hampshire,4200,161000.0,160100.0,159300.0,...,333700,334800,336700,338900,340400,342000,344500,347400,350600,353300
11213,58200,1005,Barre,MA,Worcester,Worcester,11214,103100.0,103400.0,103600.0,...,205600,206800,208800,210400,211300,213300,215600,217900,219500,220700
6850,58201,1007,Belchertown,MA,Springfield,Hampshire,6851,133400.0,132700.0,132000.0,...,266100,266300,267000,267500,268000,268100,268100,268800,270000,270600
14547,58202,1008,Blandford,MA,Springfield,Hampden,14548,117500.0,117300.0,117100.0,...,202400,202900,205900,208500,207500,205400,204500,206800,210900,214200

A google search shows that RegionName is the ZipCode for each Region. However, upon sorting, I discovered that any ZipCode beginning with a 0 was ignoring it and displaying as a 4 digit number. I will use the .str().zfill() method to ensure that all RegionNames are displaying the as 5 digits.

In [16]:
#cat_df['RegionName'] = cat_df['RegionName'].astype(str).str.zfill(5)
df['RegionName'] = df['RegionName'].astype(str).str.zfill(5)

In [17]:
df.sort_values(by = ['RegionName'], ascending = True).head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
5850,58196,01001,Agawam,MA,Springfield,Hampden,5851,113100.0,112800.0,112600.0,...,213900,215700,218200,220100,221100,221700,221700,221700,222700,223600
4199,58197,01002,Amherst,MA,Springfield,Hampshire,4200,161000.0,160100.0,159300.0,...,333700,334800,336700,338900,340400,342000,344500,347400,350600,353300
11213,58200,01005,Barre,MA,Worcester,Worcester,11214,103100.0,103400.0,103600.0,...,205600,206800,208800,210400,211300,213300,215600,217900,219500,220700
6850,58201,01007,Belchertown,MA,Springfield,Hampshire,6851,133400.0,132700.0,132000.0,...,266100,266300,267000,267500,268000,268100,268100,268800,270000,270600
14547,58202,01008,Blandford,MA,Springfield,Hampden,14548,117500.0,117300.0,117100.0,...,202400,202900,205900,208500,207500,205400,204500,206800,210900,214200

In [18]:
#cat_df = cat_df.reset_index()
#cat_df

In [19]:
#cat_df.sort_values(by = ['RegionName'], ascending = True).head()

That seems to have fixed it!

In [20]:
melt_data(df)

                    value
time
1996-04-01  118299.123063
1996-05-01  118419.044139
1996-06-01  118537.423268
1996-07-01  118653.069278
1996-08-01  118780.254312
1996-09-01  118927.528500
1996-10-01  119120.520316
1996-11-01  119345.352236
1996-12-01  119685.084771
1997-01-01  120121.265712
1997-02-01  120544.241450
1997-03-01  120896.623794
1997-04-01  121268.174510
1997-05-01  121655.897398
1997-06-01  122053.105817
1997-07-01  122456.339057
1997-08-01  122879.926927
1997-09-01  123327.402265
1997-10-01  123823.105590
1997-11-01  124353.737669
1997-12-01  125002.601388
1998-01-01  125736.669833
1998-02-01  126450.778111
1998-03-01  127086.257032
1998-04-01  127736.362972
1998-05-01  128385.014978
1998-06-01  129032.702564
1998-07-01  129676.357127
1998-08-01  130324.519617
1998-09-01  130982.618543
1998-10-01  131678.088697
1998-11-01  132399.342442
1998-12-01  133224.702272
1999-01-01  134133.593921
1999-02-01  135020.881128
1999-03-01  135841.586907
1999-04-01  136683.794842
1999-05-01  137532.147293
1999-06-01  138391.809746
1999-07-01  139265.156718
1999-08-01  140160.604954
1999-09-01  141084.832323
1999-10-01  142070.095711
1999-11-01  143104.040330
1999-12-01  144261.328268
2000-01-01  145522.064733
2000-02-01  146772.265654
2000-03-01  147943.683788
2000-04-01  149107.817637
2000-05-01  150247.760649
2000-06-01  151364.608753
2000-07-01  152457.017608
2000-08-01  153530.934463
2000-09-01  154597.187112
2000-10-01  155691.101045
2000-11-01  156804.237598
2000-12-01  157978.351721
2001-01-01  159201.775407
2001-02-01  160410.849711
2001-03-01  161555.950902
2001-04-01  162664.345730
2001-05-01  163717.366844
2001-06-01  164729.619347
2001-07-01  165707.861474
2001-08-01  166666.391466
2001-09-01  167634.309929
2001-10-01  168653.357200
2001-11-01  169714.371301
2001-12-01  170846.292102
2002-01-01  172058.120845
2002-02-01  173311.938336
2002-03-01  174550.062103
2002-04-01  175769.284723
2002-05-01  176957.558267
2002-06-01  178131.760064
2002-07-01  179301.906919
2002-08-01  180477.891430
2002-09-01  181696.493023
2002-10-01  182962.913714
2002-11-01  184453.159933
2002-12-01  186098.173449
2003-01-01  187610.681669
2003-02-01  188930.160006
2003-03-01  190295.616278
2003-04-01  191691.758603
2003-05-01  193112.990429
2003-06-01  194601.804632
2003-07-01  196006.780152
2003-08-01  197610.872872
2003-09-01  199257.667512
2003-10-01  200939.572619
2003-11-01  202586.613546
2003-12-01  204228.359290
2004-01-01  207492.620700
2004-02-01  209244.217982
2004-03-01  211168.039896
2004-04-01  213296.509107
2004-05-01  215615.416305
2004-06-01  218136.246025
2004-07-01  220658.172765
2004-08-01  223353.453128
2004-09-01  226056.895432
2004-10-01  228744.641697
2004-11-01  231299.465974
2004-12-01  233785.465830
2005-01-01  236197.426127
2005-02-01  238563.124596
2005-03-01  240871.017095
2005-04-01  243402.183594
2005-05-01  245934.664560
2005-06-01  248474.874300
2005-07-01  250549.564286
2005-08-01  252925.442857
2005-09-01  255151.628571
2005-10-01  257204.985714
2005-11-01  258995.542857
2005-12-01  260551.178571
2006-01-01  261477.013375
2006-02-01  262687.485771
2006-03-01  263850.576266
2006-04-01  264959.113546
2006-05-01  265878.713717
2006-06-01  266561.959306
2006-07-01  266695.604630
2006-08-01  266818.043031
2006-09-01  266757.139814
2006-10-01  266590.875524
2006-11-01  266316.523468
2006-12-01  266090.974934
2007-01-01  265816.833298
2007-02-01  265624.760689
2007-03-01  265366.333404
2007-04-01  265036.424874
2007-05-01  264491.781890
2007-06-01  263696.341204
2007-07-01  262677.172218
2007-08-01  261586.201276
2007-09-01  260415.577605
2007-10-01  259139.142452
2007-11-01  257695.776045
2007-12-01  256114.812190
2008-01-01  254395.855767
2008-02-01  252515.797676
2008-03-01  250538.729102
2008-04-01  248491.584018
2008-05-01  246309.457353
2008-06-01  243985.661661
2008-07-01  241710.336283
2008-08-01  239648.205310
2008-09-01  237774.272566
2008-10-01  236009.734513
2008-11-01  234330.385841
2008-12-01  232780.842478
2009-01-01  231308.672892
2009-02-01  229820.522071
2009-03-01  228199.285512
2009-04-01  226440.435767
2009-05-01  224442.204301
2009-06-01  222453.671477
2009-07-01  220988.595065
2009-08-01  220049.077282
2009-09-01  219437.446086
2009-10-01  219064.356926
2009-11-01  218900.530298
2009-12-01  218844.042989
2010-01-01  218812.231335
2010-02-01  219116.756222
2010-03-01  216704.313344
2010-04-01  215818.025602
2010-05-01  215273.660776
2010-06-01  215196.925003
2010-07-01  214382.823448
2010-08-01  213508.928200
2010-09-01  212475.130073
2010-10-01  211428.310787
2010-11-01  210326.576483
2010-12-01  209098.015956
2011-01-01  207595.957918
2011-02-01  206395.598007
2011-03-01  205402.464009
2011-04-01  204642.594131
2011-05-01  204012.631506
2011-06-01  203430.571705
2011-07-01  202726.976230
2011-08-01  202212.493090
2011-09-01  201718.705086
2011-10-01  201293.193753
2011-11-01  200940.954947
2011-12-01  200644.043671
2012-01-01  200219.759983
2012-02-01  200069.287537
2012-03-01  200272.349817
2012-04-01  200824.656873
2012-05-01  201558.155735
2012-06-01  202274.412028
2012-07-01  202879.534339
2012-08-01  203592.284907
2012-09-01  204337.921058
2012-10-01  205118.247572
2012-11-01  206036.550251
2012-12-01  207004.656609
2013-01-01  207745.450178
2013-02-01  208791.545430
2013-03-01  210145.422729
2013-04-01  211730.785067
2013-05-01  213399.382377
2013-06-01  215113.127917
2013-07-01  216674.798139
2013-08-01  218163.500753
2013-09-01  219413.008074
2013-10-01  220509.586698
2013-11-01  221509.880936
2013-12-01  222473.737512
2014-01-01  223183.207200
2014-02-01  224135.937820
2014-03-01  225082.573123
2014-04-01  226124.783528
2014-05-01  227232.010636
2014-06-01  228310.622486
2014-07-01  229099.280038
2014-08-01  230141.744210
2014-09-01  231060.035319
2014-10-01  231927.514773
2014-11-01  232822.135434
2014-12-01  233712.307274
2015-01-01  234691.190654
2015-02-01  235760.279834
2015-03-01  236836.426000
2015-04-01  238009.760239
2015-05-01  239354.207702
2015-06-01  240744.121443
2015-07-01  242103.525097
2015-08-01  243424.444746
2015-09-01  244658.269374
2015-10-01  245764.565646
2015-11-01  246765.041092
2015-12-01  247765.170142
2016-01-01  248896.366230
2016-02-01  249987.312368
2016-03-01  251014.310942
2016-04-01  252164.273586
2016-05-01  253483.637846
2016-06-01  254820.084222
2016-07-01  256205.780072
2016-08-01  257597.914827
2016-09-01  258946.023229
2016-10-01  260254.316376
2016-11-01  261576.900088
2016-12-01  262923.792705
2017-01-01  264373.259526
2017-02-01  265755.097467
2017-03-01  267065.115805
2017-04-01  268533.505400
2017-05-01  270226.842355
2017-06-01  271824.716430
2017-07-01  273335.393602
2017-08-01  274865.774638
2017-09-01  276464.619982
2017-10-01  278033.186171
2017-11-01  279520.858521
2017-12-01  281095.320247
2018-01-01  282657.060382
2018-02-01  284368.688447
2018-03-01  286511.376757
2018-04-01  288039.944305

## Analysis of Data Values

In [21]:
#df['RegionID_copy'] = df['RegionID']

In [22]:
#df.head()

In [23]:
data_df = df.iloc[:, 7:]
data_df.head()

,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,1996-12,1997-01,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,334200.0,335400.0,336500.0,337600.0,338500.0,339500.0,340400.0,341300.0,342600.0,344400.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,235700.0,236900.0,236700.0,235400.0,233300.0,230600.0,227300.0,223400.0,219600.0,215800.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,210400.0,212200.0,212200.0,210700.0,208300.0,205500.0,202500.0,199800.0,198300.0,197300.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,498100.0,500900.0,503100.0,504600.0,505500.0,505700.0,505300.0,504200.0,503600.0,503400.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,77300.0,77300.0,77300.0,77300.0,77400.0,77500.0,77600.0,77700.0,77700.0,77800.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500

In [ ]:
#data_df.columns = pd.to_datetime(data_df.columns, format='%Y-%m')
#data_df.head()

In [24]:
# changing values to thousands for ease of reading
data_df = data_df.applymap(lambda x: x/1000)
data_df.head()

,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,1996-12,1997-01,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,334.2,335.4,336.5,337.6,338.5,339.5,340.4,341.3,342.6,344.4,...,1005.5,1007.5,1007.8,1009.6,1013.3,1018.7,1024.4,1030.7,1033.8,1030.6
1,235.7,236.9,236.7,235.4,233.3,230.6,227.3,223.4,219.6,215.8,...,308.0,310.0,312.5,314.1,315.0,316.6,318.1,319.6,321.1,321.8
2,210.4,212.2,212.2,210.7,208.3,205.5,202.5,199.8,198.3,197.3,...,321.0,320.6,320.2,320.4,320.8,321.2,321.2,323.0,326.9,329.9
3,498.1,500.9,503.1,504.6,505.5,505.7,505.3,504.2,503.6,503.4,...,1289.8,1287.7,1287.4,1291.5,1296.6,1299.0,1302.7,1306.4,1308.5,1307.0
4,77.3,77.3,77.3,77.3,77.4,77.5,77.6,77.7,77.7,77.8,...,119.1,119.4,120.0,120.3,120.3,120.3,120.3,120.5,121.0,121.5

In [25]:
data_df.describe().round(2)

,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,1996-12,1997-01,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
count,13684.0,13684.00,13684.00,13684.00,13684.00,13684.00,13684.00,13684.00,13684.00,13684.00,...,14723.00,14723.00,14723.00,14723.00,14723.00,14723.00,14723.00,14723.00,14723.00,14723.00
mean,118.3,118.42,118.54,118.65,118.78,118.93,119.12,119.35,119.69,120.12,...,273.34,274.87,276.46,278.03,279.52,281.10,282.66,284.37,286.51,288.04
std,86.0,86.16,86.31,86.47,86.65,86.87,87.15,87.48,87.91,88.41,...,360.40,361.47,362.76,364.46,365.60,367.05,369.57,371.77,372.46,372.05
min,11.3,11.50,11.60,11.80,11.80,12.00,12.10,12.20,12.30,12.50,...,14.40,14.50,14.70,14.80,14.50,14.30,14.10,13.90,13.80,13.80
25%,68.8,68.90,69.10,69.20,69.38,69.50,69.60,69.80,70.00,70.30,...,126.90,127.50,128.20,128.70,129.25,129.90,130.60,131.05,131.95,132.40
50%,99.5,99.50,99.70,99.70,99.80,99.90,99.95,100.10,100.30,100.60,...,188.40,189.60,190.50,191.40,192.50,193.40,194.10,195.00,196.70,198.10
75%,143.2,143.30,143.22,143.22,143.50,143.70,143.90,144.12,144.30,144.60,...,305.00,306.65,308.50,309.80,311.70,313.40,315.10,316.85,318.85,321.10
max,3676.7,3704.20,3729.60,3754.60,3781.80,3813.50,3849.60,3888.90,3928.80,3964.60,...,18889.90,18703.50,18605.30,18569.40,18428.80,18307.10,18365.90,18530.40,18337.70,17894.90

## Slicing out Years - data_df

In [27]:
yr_1996 = data_df.iloc[:, :9]
yr_1996.head()

,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,1996-12
0,334.2,335.4,336.5,337.6,338.5,339.5,340.4,341.3,342.6
1,235.7,236.9,236.7,235.4,233.3,230.6,227.3,223.4,219.6
2,210.4,212.2,212.2,210.7,208.3,205.5,202.5,199.8,198.3
3,498.1,500.9,503.1,504.6,505.5,505.7,505.3,504.2,503.6
4,77.3,77.3,77.3,77.3,77.4,77.5,77.6,77.7,77.7

In [30]:
yr_1997 = data_df.iloc[:, 9:21]
yr_1998 = data_df.iloc[:, 21:33]
yr_1999 = data_df.iloc[:, 33:45]

## CONTINUE TO SLICE OUT THE YEARS

## Seeing what happens when i melt just one month

In [35]:
df.head(2)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800

In [39]:
melt_test = df.iloc[:, :8]
melt_test.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0

In [40]:
melt_data(melt_test)

                    value
time
1996-04-01  118299.123063

# Merge Attempt

In [ ]:
#data_df = data_df.reset_index()

In [ ]:
#data_df

In [ ]:
#merged_df = cat_df.merge(data_df, on='index')

In [ ]:
#merged_df

## Slicing out Years and attempting to Melt - Full DF

In [ ]:
df.head()

In [ ]:
df.iloc[:, :16].head(2)

In [ ]:
yr_1996 = df.iloc[:, :16]
yr_1996.head()

In [ ]:
melt_data(yr_1996)

# Archive

In [ ]:
#data_df.isnull().sum()

In [ ]:
#df.columns[7:]

In [ ]:
#date_time_cols = pd.to_datetime(df.columns[7:])
#date_time_cols

In [ ]:
#cat_cols = df.columns[:7]
#cat_cols

In [ ]:
#new_cols = cat_cols + date_time_cols
#new_cols

In [ ]:
#df.rename(columns[7:] = date_time_cols)

## Transposing DF

In [ ]:
flipped_df = df.transpose()

In [ ]:
flipped_df.head(10)

In [ ]:
#melt_data(flipped_df)
melt_data(df)

In [ ]:
#roi = table9.apply(lambda x: x['total_profit'] / x['production_budget'], axis=1)
test = df.loc[8]
#test

In [ ]:
melt_data(test)

## Exploring SizeRank

In [ ]:
df.sort_values('SizeRank').head()

In [ ]:
df.sort_values(by = ['State', 'City'], ascending = True)

In [ ]:
cat_data = df[['RegionID', 'RegionName', 'City', 'State', 'Metro', 'CountyName', 'SizeRank']]

In [ ]:
cat_data

In [ ]:
df.head()

In [ ]:
date_data = df.drop(['RegionID', 'RegionName', 'City', 'State', 'Metro', 'CountyName', 'SizeRank'], axis=1)

In [ ]:
date_data.head()

In [ ]:
date_time_data = get_datetimes(date_data)

In [ ]:
date_time_data

In [ ]:
len(date_time_data)

In [ ]:
list(date_data.columns)

In [ ]:
#df2 = date_data.append(date_time_data)

## Changing column names to DateTime Format

In [ ]:
#df.columns = pd.to_datetime(df.columns)
date_data.columns = pd.to_datetime(date_data.columns)

In [ ]:
date_data

### Merging with Categories

In [ ]:
#imdb_df = pd.merge(table7, table4, on= 'tconst', how='inner')
base_df = pd.merge(cat_data, date_data, how='outer')

# Mod 4 Project - Starter Notebook

This notebook has been provided to you so that you can make use of the following starter code to help with the trickier parts of preprocessing the Zillow dataset. 

The notebook contains a rough outline the general order you'll likely want to take in this project. You'll notice that most of the areas are left blank. This is so that it's more obvious exactly when you should make use of the starter code provided for preprocessing. 

**_NOTE:_** The number of empty cells are not meant to infer how much or how little code should be involved in any given step--we've just provided a few for your convenience. Add, delete, and change things around in this notebook as needed!

## Some Notes Before Starting

This project will be one of the more challenging projects you complete in this program. This is because working with Time Series data is a bit different than working with regular datasets. In order to make this a bit less frustrating and help you understand what you need to do (and when you need to do it), we'll quickly review the dataset formats that you'll encounter in this project. 

### Wide Format vs Long Format

If you take a look at the format of the data in `zillow_data.csv`, you'll notice that the actual Time Series values are stored as separate columns. Here's a sample: 

<img src='https://raw.githubusercontent.com/learn-co-students/dsc-mod-4-project-seattle-ds-102819/master/images/df_head.png'>

You'll notice that the first seven columns look like any other dataset you're used to working with. However, column 8 refers to the median housing sales values for April 1996, column 9 for May 1996, and so on. This This is called **_Wide Format_**, and it makes the dataframe intuitive and easy to read. However, there are problems with this format when it comes to actually learning from the data, because the data only makes sense if you know the name of the column that the data can be found it. Since column names are metadata, our algorithms will miss out on what dates each value is for. This means that before we pass this data to our ARIMA model, we'll need to reshape our dataset to **_Long Format_**. Reshaped into long format, the dataframe above would now look like:

<img src='https://raw.githubusercontent.com/learn-co-students/dsc-mod-4-project-seattle-ds-102819/master/images/melted1.png'>

There are now many more rows in this dataset--one for each unique time and zipcode combination in the data! Once our dataset is in this format, we'll be able to train an ARIMA model on it. The method used to convert from Wide to Long is `pd.melt()`, and it is common to refer to our dataset as 'melted' after the transition to denote that it is in long format. 

## Helper Functions Provided

Melting a dataset can be tricky if you've never done it before, so you'll see that we have provided a sample function, `melt_data()`, to help you with this step below. Also provided is:

* `get_datetimes()`, a function to deal with converting the column values for datetimes as a pandas series of datetime objects
* Some good parameters for matplotlib to help make your visualizations more readable. 

Good luck!


## Step 1: Load the Data/Filtering for Chosen Zipcodes

## Step 2: Data Preprocessing

In [ ]:
def get_datetimes(df):
    """
    Takes a dataframe:
    returns only those column names that can be converted into datetime objects 
    as datetime objects.
    NOTE number of returned columns may not match total number of columns in passed dataframe
    """
    
    return pd.to_datetime(df.columns.values[1:], format='%Y-%m')

## Step 3: EDA and Visualization

In [ ]:
font = {'family' : 'normal',
        'weight' : 'bold',
        'size'   : 22}

matplotlib.rc('font', **font)

# NOTE: if you visualizations are too cluttered to read, try calling 'plt.gcf().autofmt_xdate()'!

## Step 4: Reshape from Wide to Long Format

In [ ]:
def melt_data(df):
    """
    Takes the zillow_data dataset in wide form or a subset of the zillow_dataset.  
    Returns a long-form datetime dataframe 
    with the datetime column names as the index and the values as the 'values' column.
    
    If more than one row is passes in the wide-form dataset, the values column
    will be the mean of the values from the datetime columns in all of the rows.
    """
    
    melted = pd.melt(df, id_vars=['RegionName', 'RegionID', 'SizeRank', 'City', 'State', 'Metro', 'CountyName'], var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted.groupby('time').aggregate({'value':'mean'})

## Step 5: ARIMA Modeling

## Step 6: Interpreting Results